@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  /*hover時の設定*/
  .header-button:hover {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
  /*active時の設定*/
  .header-button:active {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15) inset;
    transition-duration: 0.05s;
    transform: scale(0.99);
  }
}
